
/*content*/

.content{
	width: 100%;
	height:750px;
	margin-top: 50px;
	border-bottom: 1px solid #404040;
}
.content .main{
	width: 80%;
	margin: 0 auto;
	height: 750px;
	
}
.content .main>p{
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	margin-bottom: 20px;
}
.content .main>p a{
	color: black;
}
.content .main .top{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content .main .top p{
	 display: inline-block;
	 width: 25%;
	 background: white;
	 height: 50px;
	 line-height: 50px;
	 color:#4E8E74 ;
	 border: 1px solid #4E8E74;
}
.content .main .top p:nth-of-type(1){
	background: #4E8E74;
	color: white;
}
.content .main .top p span{
	display: inline-block;
	width: 40px;
	height: 40px;
	background:  #4E8E74;
	line-height: 40px;
	text-align: center;
	margin-right: 30px;
	margin-left: 5px;
	margin-top: 5px;
	color: white;
	font-weight: bolder;
}
.content .main .top p:nth-of-type(1) span{
	margin-right: 60px;
	background: white;
	color: #4E8E74;
}
.content .main .top p:nth-of-type(3) span{
	margin-right: 50px;
}
.content .main .tab{
	width: 100%;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	border-spacing: 0;
	
}
.content .main .tab>tbody>tr{
	width: 100%;
	height: 60px;
	
}

.content .main .tab>tbody>tr th{
	font-size: 14px;
	border-bottom: 1px solid #CCCCCC;
	
}
.content .main .tab>tbody>tr td:nth-of-type(2) img{
	width: 50px;
	height: 50px;
	
}
.content .main .tab>tbody>tr td:nth-of-type(6) input{
	width: 40px;
	text-align: center;
	height: 40px;
	float: left;
}
.content .main .tab>tbody>tr td:nth-of-type(6) button{
	height: 42px;
	float: left;
	width: 20px;
	border: none;
	outline: none;
	
}
.content .main .tab>tbody>tr td:nth-of-type(6) div{
	width:82px;
	height: 44px;
	border: 1px solid #CCCCCC;
	margin-left: 40px;
	
}
.content .main .tab>tbody>tr td{
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #CCCCCC;
}
.content .main .tab>tbody>tr td:nth-of-type(8) a{
	color: black;
	font-size: 12px;
	margin-left: 20px;
}
.content .main .tab>tbody>tr td:nth-of-type(8) a:nth-of-type(1){
	color: cornflowerblue;
}
.content .main .buy1{
	display: block;
	float: right;
	width:100px;
	height: 50px;
	background:#CCCCCC;
	text-align: center;
	line-height: 50px;
	color: black;
	margin-right: 20px;
	font-size: 14px;
	margin-top: 10px;
}
.content .main .buy1:hover{
	color: white;
	background:#4E8E74;
}

.content .main .tab>tbody>.zong td:nth-of-type(1) p{
	width: 100px;
	height: 50px;
	text-align: left;
	margin-left: 30px;
	line-height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	
}
.content .main .tab>tbody>.zong td:nth-of-type(2) p{
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: right;
}
